@font-face {
    font-family: 'Oswald';
    src: url('fonts/Oswald-Regular.ttf') format('truetype');
    font-family: 'Pixel';
    src: url("fontes/Pixel.ttf");
}

* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #0D262D;
    color: #fff;
    height: 100%;
}

.btnConfig img{
    width: 100%;
    max-width: 50px;
}

/* -------------------------------------------------------------- */
.conteudo, .mainConfig, .radio-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.areaConfig{
    width: 40%;
    padding: 20px;
    border: 5px solid #f4b312;
    border-radius: 10px;
    /* border: 1px solid red; */
}
.areaConfig, .radio-button{
    color: black;
    background: #dcd68a;
}
.mainConfig img{
    padding: 30px 0;
    width: 100%;
    max-width: 400px;
    height: 20%;
}
.radio-button .radio{
    padding: 0 15px;
}
.areaConfig h1{
    padding-bottom: 35px;
}
.areaConfig strong{
    font-size: 16px;
    font: 800;
}
#nomeJog, #opPerson{
    border: 3px solid #f4b312;
    border-radius: 5px;
}
.radio-button, .velocidade, .personagem{
    justify-content: flex-start;
    flex-direction: row;
    padding: 10px 0;
}
/* -------------------------------------------------------------- */

[wm-flappy] {
    position: relative;
    border: 5px solid dodgerblue;
    height: 700px;
    width: 1200px;
    margin: 15px;
    background-color: deepskyblue;
    overflow: hidden;
}

.passaro {
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
}

.par-de-barreiras {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barreira {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barreira .borda {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border: 2px solid #000;
}

.barreira .corpo {
    height: 40px;
    width: 110px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.progresso {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: Pixel;
    font-size: 70px;
    z-index: 100;
}